* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}

h1 {
  margin: 50px;
  font-size:50px;
  font-weight: 700;
  text-align: center;
}

h2 {
  margin: 20px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
}

a {
  text-align: center;
}

a:hover {
  color: red;
}

button {
  padding: 2vh 5vw 2vh 5vw;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-left: 25vw;
  margin-right: 25vw;
}

input {
  border: 1px solid black;
  min-width: 20vw;
}

label {
  min-width: 20vw;
  font-size: 20px;
}

pre, code {
  font-family: monospace, monospace;
}

p > code {
  font-weight: 700;
}

pre {
  margin: 5vw;
  padding: 1vw;
  border: 1px solid black;
  overflow: auto;
  resize: both;
  min-height: 100%;
  max-height: 50vh;
}

pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

table {
  display: block !important;
}

table, th, td, thead, tbody {
  border: 1px solid;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.problems > li, .projects > li {
  list-style: none;
  font-size: 20px;
  margin: 2vh;
  min-width: 20vw;
  display: inline-block;
}

.problems, .projects {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  /*position: fixed;*/
  top: 0;
  width: 100vw;
}

.navbar li {
  float: left;
  border-right: 1px solid #bbb
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar .active {
  background-color: #04AA6D;
}

#tests {
  margin: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#tests > * > * {
  margin: 1vw;
}

#examples > * {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#code {
  margin: 5vw;
}
